body{
    background-color: rgb(230, 217, 217);
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0%;
}


.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(78, 19, 14);
    opacity: 0.9;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 2em;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bmi{
    margin: 20px;
    color: rgb(24, 10, 59);
}
.zee{
    margin: 30px;
    color: rgb(24, 10, 59);
}
.item{
    color: rgb(24, 10, 59);
}
.btn > a{
   text-decoration: none;
   color: aliceblue;
   font-size: 1.5em;
}
.btn{
    margin: 20px;
    background-color: brown;
}
.btn :hover{
    background-color: aqua;
}
.foot{
    font-size: 1.6em;
    background-color: aqua;
    width: 100%;
    text-align: center;
    color: blue;
}
.shan{
    margin: 10px;
    background-color: rgb(147, 70, 7);
}
.shan a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.4em;
}
.shan :hover{
   
    background-color: rgb(17, 211, 140);
}
abbr{
    text-decoration: none;
    
}
